# Ignore the following files:

	# Directories:
*src/build/
*src/dist/
*.hg/

	# File extensions:
*.DS_Store		# DS_Store
*._.DS_Store		# DS_Store
.project		# Project file
.pydevproject		# Pydev Project file
*.pyc			# Compiled Python files
*.pyd			# Python Dynamic Library files (Similar to DLLs)
*.dll			# Dynamic Link Library files
*.png			# png images
*.gif			# gif images
*.db			# Database files
*.zip			# Compressed zip files
*.exe			# Executables
*.afm			# Fonts
.project
.pydevproject
src/Controllers/__init__.pyc
src/Controllers/calibrate_controller.pyc
src/Controllers/contrast_controller.pyc
src/Controllers/coral_controller.pyc
src/Controllers/dicom_controller.pyc
src/Controllers/dxf_controller.pyc
src/Controllers/image_info_controller.pyc
src/Controllers/overlay_controller.pyc
src/Controllers/overview_controller.pyc
src/Controllers/plugin_controller.pyc
src/Controllers/polyline_controller.pyc
src/Controllers/xml_controller.pyc
src/Controllers/zoom_controller.pyc
src/Models/__init__.pyc
src/Models/dicom_model.pyc
src/Models/dxf_model.pyc
src/Models/polyline_model.pyc
src/Models/rectangle_model.pyc
src/Models/zoom_model.pyc
src/Views/__init__.pyc
src/Views/calibrate_view.pyc
src/Views/contrast_view.pyc
src/Views/dicom_view.pyc
src/Views/image_info_view.pyc
src/Views/overlay_view.pyc
src/Views/overview_view.pyc
src/lib/__init__.pyc
src/lib/browse_dialog.pyc
src/lib/progress_bar.pyc
src/lib/save_session.pyc
test/dicom images/4.dcm
test/dicom images/5.dcm
test/saved_sessions/4.cxv
test/saved_sessions/4.xml
test/saved_sessions/test.cxv
.hgignore
src/.DS_Store
src/._.DS_Store
src/images/.DS_Store
src/images/._.DS_Store
src/images/._calibrate.png
src/images/._contrast.png
src/images/._coral.png
src/images/._cursor_cross.png
src/images/._cursor_cross_dot.png
src/images/._cursor_hand.png
src/images/._cursor_hand_closed.gif
src/images/._cursor_hand_open.gif
src/images/._cursor_ppu.png
src/images/._density.png
src/images/._info.png
src/images/._lock_calibrate.png
src/images/._lock_coral.png
src/images/._lock_polyline.png
src/images/._open.png
src/images/._overlay.png
src/images/._overview.png
src/images/._polyline.png
src/images/._rotate_image.png
src/images/._save.png
src/images/._zoom_in_toolbar.png
src/images/._zoom_out_toolbar.png
src/lib/.DS_Store
src/lib/._.DS_Store
