# Ignore the following files:



	# Directories:

*src/build/

*src/dist/

*.hg/



	# File extensions:

*.DS_Store            # DS_Store files

.project              # Project file

.pydevproject         # Pydev Project file

*.pyc                 # Compiled Python files

*.pyd                 # Python Dynamic Library files (Similar to DLLs)

*.dll                 # Dynamic Link Library files

*.png                 # png images

*.gif                 # gif images

*.db                  # Database files

*.zip                 # Compressed zip files

*.exe                 # Executables

*.afm                 # Fonts
